#calendar {
    display: flex;
    flex-wrap: wrap;
}

section {
    margin: 10px;
}

table {
    border-spacing: 0;
    border-collapse: collapse;
    width: 800px;
    table-layout: fixed;
    word-wrap: break-word;
    font-size: 12px;
}

td {
    border: 1px solid #ddd;
    padding: 5px;
    text-align: center;
    vertical-align: top;
    width: 200px;
    height: 100px;
}

button.calendar-button {
    border: 0;
    border-radius: 5px;
    background: gainsboro;
    color: #fff;
    padding: 2px 20px;
    font-size: 20px;
}

button.calendar-button:hover {
    background: ghostwhite;
}

button.calendar-button:focus {
    outline: none;
}

.year-month {
    font-size: 18px;
}

.day-of-week-string {
}

.day-string {
}

.event-string {
    font-size: 12px;
}

.category-A {
    display: inline-block;
    width: 200px;
    background: royalblue;
    border-radius: 5px;
    margin-right: 5px;
    color: #ffffff;
    font-size: 12px;
    font-weight: bold;
    line-height: 20px;
    text-align: center;
}

.category-B {
    display: inline-block;
    width: 200px;
    background: yellowgreen;
    border-radius: 5px;
    margin-right: 5px;
    color: #ffffff;
    font-size: 12px;
    font-weight: bold;
    line-height: 20px;
    text-align: center;
}

.category-C {
    display: inline-block;
    width: 200px;
    background: tomato;
    border-radius: 5px;
    margin-right: 5px;
    color: #ffffff;
    font-size: 12px;
    font-weight: bold;
    line-height: 20px;
    text-align: center;
}

.category-D {
    display: inline-block;
    width: 200px;
    background: darkturquoise;
    border-radius: 5px;
    margin-right: 5px;
    color: #ffffff;
    font-size: 12px;
    font-weight: bold;
    line-height: 20px;
    text-align: center;
}

.is-other-month {
    color: #ccc;
    background: white;
}

.is-holiday {
    color: red;
    background-color: #ffeeee;
}
