#calendar {
    display: flex;
    flex-wrap: wrap;
}

section {
    margin: 5px;
}

table.calendar-table {
    border-spacing: 0;
    border-collapse: collapse;
    width: 800px;
    table-layout: fixed;
    word-wrap: break-word;
    font-size: 12px;
}

td.calendar-td {
    border: 1px solid #ddd;
    padding: 5px;
    text-align: center;
    vertical-align: top;
    width: 120px;
    height: 120px;
}

button.calendar-button {
    border: 0;
    border-radius: 5px;
    background: darkgray;
    color: #fff;
    padding: 2px 20px;
}

button.calendar-button:hover {
    background: silver;
}

button.calendar-button:focus {
    outline: none;
}

.year-month {
    font-size: 18px;
}

.day-of-week-string {
}

.day-string {
}

.event-string {
    font-size: 12px;
}

.category {
    display: inline-block;
    width: 120px;
    border-radius: 5px;
    margin-right: 5px;
    color: #ffffff;
    font-size: 12px;
    font-weight: bold;
    line-height: 20px;
    text-align: center;
}

ul, ol {
    display: inline-block;
    padding: 0;
    position: relative;
    font-size: 12px;
}

ul li, ol li {
    display: inline-block;
    line-height: 1.5;
    margin-left: 10px;
    margin-right: 10px;
    padding: 3px;
    list-style-type: none!important;
}

.cat0 {
    background: skyblue;
}
li.cat0-name {
    border-left: solid 8px skyblue;
}

.cat1 {
    background: yellowgreen;
}
li.cat1-name {
    border-left: solid 8px yellowgreen;
}

.cat2 {
    background: moccasin;
}
li.cat2-name {
    border-left: solid 8px moccasin;
}

.cat3 {
    background: turquoise;
}
li.cat3-name {
    border-left: solid 8px turquoise;
}

.cat4 {
    background-color: pink;
}
li.cat4-name {
    border-left: solid 8px pink;
}

.cat5 {
    background-color: thistle;
}
li.cat5-name {
    border-left: solid 8px thistle;
}

.cat6 {
    background-color: silver;
}
li.cat6-name {
    border-left: solid 8px silver;
}

.is-other-month {
    color: #ccc;
    background: white;
}

.is-holiday {
    color: red;
    background-color: #ffeeee;
}

.is-today {
    font-weight: bold;
    color: steelblue;
    background-color: lightblue;
    border-radius: 30px;
}
