#calendar {
    display: flex;
    flex-wrap: wrap;
}

section {
    margin: 10px;
}

h1 {
    font-size: 18px;
}

table {
    border-spacing: 0;
    border-collapse: collapse;
    width: 800px;
    table-layout: fixed;
    word-wrap: break-word;
}

td {
    border: 1px solid #ddd;
    padding: 5px;
    text-align: center;
    vertical-align: top;
    width: 100px;
    height: 100px;
}

.first-column {
    font-size: 14px;
    height: 20px;
}

.day-string {
    font-size: 14px;
}

.event-string {
    font-size: 12px;
}

.category-A::before {
    content: "◆";
    color: red;
}

.category-B::before {
    content: "◆";
    color: blue;
}

.category-C::before {
    content: "◆";
    color: orange;
}

.category-D::before {
    content: "◆";
    color: green;
}

.is-other-month {
    color: #ccc;
}

.is-holiday {
    color: red;
    background-color: #ffeeee;
}
